{% extends "layout.html" %}

{% block title %}
    Contact Me!
{% endblock %}

{% block main %}
    <img src="static/hope_learns.jpg" alt="A happy girl" class="center-image">

    <div class="button-container">
        <a href="https://www.instagram.com/hope_learns/" class="round-rect-button btn btn-primary opacity-75 hover-opacity-100">Instagram</a>
        <a href="https://x.com/HopeLearns" class="round-rect-button btn btn-primary opacity-75 hover-opacity-100">X</a>
        <a href="https://www.tiktok.com/@hope_learns?lang=en" class="round-rect-button btn btn-primary opacity-75 hover-opacity-100">Tik Tok</a>
    </div>
{% endblock %}
